body {
    text-align: left;
    font-family: monospace
}

p {
    font-size: large
}

table {
    border: 1px solid black
}

td {
    border: 1px solid black;
    text-align: center
}

table.no_border {
    border: 0
}

td.no_border {
    border: 0;
    text-align: left
}
